.container-message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

.chat-box {
    height: 300px;
    width: 100%;
    background: #ffffff;
    overflow: auto;
}

.react-tags__selected-tag-name, .react-tags__selected-tag {
    font-size: 15px;
    padding: 7px;
    border-radius: 5px;
    border: 0;
    background: #95b0c9;
}
.friend-list {
    margin-top: 60px;
    padding: 5px;
}

.message-item {
    background: #c6f8ff;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 5px;
    width: auto;
    display: inline-block;
}
.message-item-time {
    margin: 0;
}